*.Rproj
.Rproj.user
.Rhistory
.RData
Intensiv.Rproj
*.png
NIRdata10000.Rdata
FigNIRMeanMed_sql.R
*.pdf
*.lof
*.lot
*.toc
*.out
*.aux
*.log
*.nav
*.aux
*.tex
*.nav
*.snm
*.vrb
*.gz
*.csv
*.Rdata
*.docx

*.xlsx
~$NIRkodebok2016-06-01.xlsx
*.tmp
tesst2filer

# Many kinds of data files
*.rda
*.csv
*.tsv
*.xlsx
*.xls
*.sav
*.dta
*.sas7bdat
*.rds
*.RData
*.sql

*.zip
*.tar
*.gz

