*.Rproj
.Rproj.user
.Rhistory
.RData
Intensiv.Rproj
*.png
NIRdata10000.Rdata
FigNIRMeanMed_sql.R
*.pdf
*.lof
*.lot
*.toc
*.out
*.aux
*.log
*.nav
*.aux
*.tex
*.nav
*.snm
*.vrb
*.gz
*.csv
*.Rdata

*.xlsx
~$NIRkodebok2016-06-01.xlsx
*.docx
*.tmp
tesst2filer
